.DashboardStatCard{
    // border: 1px solid red;
    display: inline-block;
    border-radius: 10px;
    border: 2px solid grey;
    width: 250px;
    // box-shadow: 2px 0px 5px grey, -2px 0px 5px grey;
    text-align: center;
    background: white;
    font-weight: bold;
}