.Nav{
    display: flex;
    justify-content: space-between;
    a{
        text-decoration: none;
        color: black;
        font-weight: bold;
    }
    button{
        background: transparent;
        border: none;
        font-weight: bold;
    }
}